
MANIFEST

__pycache__/
build/
dist/
tmp/
venv/
venv*/
static/

.cache/
.idea/
.tox/
.venv/
.venv*/
.vscode/*
!.vscode/tasks.json

.local/*
!.local/.gitkeep

media/*
!.media/.gitkeep

*.swp
*.pyc
*.egg-info/

/.env
local.*.env
local.env


*.pyc
*.pyo
*.pyc
*.pyo
*.sqlite
*.sqlite3
*.sqlite.db

# coverage result
.coverage
/coverage/
.pytest_cache/

celerybeat-schedule.db

/example/local_settings.py


#Folders
.DS_Store


.~!*